{% extends 'base.html' %}
{% load staticfiles %}

{% block customstyle %}
    <link href="{% static 'css/jquery.datetimepicker.css' %}" rel="stylesheet">
{#    <link href="{% static 'css/bootstrap-switch.css' %}" rel="stylesheet">#}
{% endblock %}

{% block content %}
    <h1>Edit Online Test</h1>
    {% if form %}
        <form action="" method="post" id="data_form" enctype="multipart/form-data">
            {{ form.as_p }}
        </form>
        <div class="panel panel-default" id="test_case_list_panel">
            <div class="panel-heading">
                    <h3 class="panel-title">Select Question Pools</h3>
                </div>
    {#            for selecting questions#}
            <div class="panel-body">
                <table class="table table-hover" id="selection_table">
                    <tr>
                        <th><i class="fa fa-check-square"></i></th>
                        <th>Pool Title</th>
                        <th>Weightage</th>
                        <th>Number to select</th>
                        <th class="hidden"></th>
                    </tr>
                {% if pools %}
                    {% if test_pools %}
                        {% for test_pool in test_pools %}
                            <tr>
                                <td><input type="checkbox" name="id" checked="true" form="data_form" value="{{ test_pool.question_pool.id }}"/></td>
                                <td><a href="{% url 'question_pool_edit' test_pool.question_pool.slug %}" target="_blank" name="pool_name">{{ test_pool.question_pool.title }}</a></td>
                                <td><input type="text" name="weightage" form="data_form" value="{{ test_pool.weightage }}"/></td>
                                <td><input type="text" name="number_to_select" form="data_form" value="{{ test_pool.number_to_select }}"/></td>
                                    <input type="hidden" name="max_number_to_select" value="{{ test_pool.max_number_to_select }}"/></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% for pool in pools %}
                            {% if pool in online_test.pools %}
                            {% else %}
                                <tr>
                                    <td><input type="checkbox" name="id" form="data_form" value="{{ pool.id }}"/></td>
                                    <td><a href="{% url 'question_pool_edit' pool.slug %}" target="_blank" name="pool_name">{{ pool.title }}</a></td>
                                    <td><input type="text" name="weightage" form="data_form"/></td>
                                    <td><input type="text" name="number_to_select" form="data_form"/></td>
                                    <td>
                                    <input type="hidden" name="max_number_to_select" value="{{ pool.max_number_to_select }}"/></td>
                                </tr>
                            {% endif %}

                    {% endfor %}
                {% else %}
                    <th>No Pools</th>
                {% endif %}
                </table>
            </div>
        </div>
        <input type="hidden" name="m2m_record" form="data_form"/>
        <input type="submit" id="submit_button" form="data_form"/>
   {% endif %}
    <ol class="breadcrumb">
        <li><a href="{% url 'online_test_list' %}">Go back to list</a></li>
    </ol>


{% endblock %}
{% block customjs %}
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validate_m2m_onlinetest.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/m2m_selection.js' %}">
    </script>

{% endblock %}