{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    {% if set_form %}
        {% if test_case_form %}
        <form action="" method="post" class="form-horizontal" id="edit_form">
            {{ set_form.as_p }}
            {{ test_case_form.as_p }}
        </form>
        <input type="submit" form="edit_form" role="modal_trigger"/>
        {% endif %}
   {% endif %}
    <a href="{{ go_back_url }}">Go back to list</a>

{% endblock %}