{% extends 'base.html' %}

{% block content %}
    <h1>My Assignment Submissions</h1>

    {% if submissions %}
    <table class="table table-hover">
    <thead><h3>Submission list</h3></thead>
        <tr>
            <th>Assignment Title</th>
            <th>Submission Time</th>
            <th>Score</th>
            <th>Detail</th>
        </tr>

        {% for submission in submissions %}
            <tr>
                <td>{{ submission.assignment.title }}</td>
                <td>{{ submission.submission_time }}</td>
                {% if submission.is_grading_finished %}
                    <td>{{ submission.score }}</td>
                {% else %}
                    <td>Grading not finished</td>
                {% endif %}
                <td><a href="{% url 'assignment_submission_view' submission.assignment.slug submission.id%}"><i class='fa fa-eye'></i></a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h4>No completed assignment submissions</h4>

    {% endif %}

{% endblock %}